*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
.top_header_main img{
    /* background-image: url('../assets/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat; */
   */
}

.top_header{
    background-color:#0F1320;
    position: relative;
}
.top_header::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../assets/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1817px;
    height: 796px;
    transform: rotate(8deg);
    filter: blur(80px);
}
.background-color{
    background-color:#0F1320;
}


.top_header_block1{
    display: flex;
    justify-content: center;
    align-items: center; 
    /* flex-wrap: wrap;
    flex-direction: row;*/
    width: 100%;
    padding-top: 20px;
    position: relative;
 

}
/* .container{
    width: 1024px;
} */

.top_head_logo {
width: 17%;
/* margin-top: 20px; */
height: 40px;
}

.top_head_menu{
    width: 60%;
    
}
.top_head_menu ul{
    padding: 0px;
   }

.top_head_menu ul li{
        display: inline-block;
        }

.top_head_menu ul li a{
    
    text-decoration: none;
    color: #FFF;
    font-family: Century Gothic;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
}

.top_head_button {
    width: 20%;
    padding-left: 70px;
}
/* .top_head_button {
    display: flex;
    justify-content: end;
    align-items: center;
} */

.top_head_button .custom-button{
    font-weight: 700;
    font-style: normal;
    background: transparent;
    color: white;
    border: none;
    font-family: Century Gothic;
    font-size: 14px;
    line-height: normal;
   
}
.top_head_button .button2{
     border: 1px solid green;
        margin: 0px 20px;
        padding: 9px 30px;
        border-radius: 20px;
    
}
.top_header_block2{
    padding-top: 42px;
     display: flex;
    /* align-items: center; */
    position: relative;
}
.top_header_block2::before{
content: "";
position: absolute;
top: 0;
left:0;
right: 0;
bottom:0;
background: url('../assets/images/bg1.png');
background-size: cover;
background-repeat: no-repeat;
width: 219px;

}

.top_header_block2 .block2_content{
    width: 41%;
    margin-left: 90px;
    color: white;
    display: inline-block;
    position: relative;
    margin-top: 93px;
    
} 

.block2_image{
    width: 51%;
}

.block2_image img {
    width: 691px;
    transform: rotate(0deg);
    display: inline-flex;
    padding: 20px 0px 3px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.top_header_block2 .block2_content h4{
    color: #07488f;
    font-family: Century Gothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-left: 16px;
    line-height: 24px;
}

.top_header_block2 .block2_content h2{
    width: 530px;
    color: #FFF;
    font-family: Century Gothic;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: -0.96px;
}

.top_header_block2 .block2_content  p{
    color: #DDE2FF;
    font-family: Century Gothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    opacity: 0.6;
    width: 522px;
    margin-top: 5px;
}
.block2_button .block2_button_desgin{
    border-radius: 26px;
    background: #22A75D;
    box-shadow: 1px 11px 25px 0px rgba(34, 167, 93, 0.25);
    width: 124px;
    height: 45px;
    margin: 20px 0 0 13px;
    color: #FFF;
    text-align: center;
    font-family: Century Gothic;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.block_2_main{
    
        display: flex;
        padding: 33px 0px 80px 0px;
    
}

.block_2_main_part1{
    width: 43%;
    background-color: #171B29;
    margin: 0 20px 0 102px;
    border-radius: 24px;
    box-shadow: 0px 6px 3px #171b2982;
    height: 308px;
}



.block_2_main_part2{
    width: 44%;
    height: 331px;
    background-color: #171B29;
    margin: 75px 20px 0 -6px;
    border-radius: 24px;
    box-shadow: 0px 6px 3px #171b2982;

}
.content_block2{
    padding:11px 51px 0px;
    color: white;
}
.content_block2 p{
     font-family: Century Gothic;
    font-size: 12px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 24px;
    margin-top: 11px;
}
.content_block2_1 p{
    font-family: Century Gothic;
   font-size: 13px;
   font-style: normal;
   /* font-weight: 400; */
   line-height: 24px;
   margin-top: 11px;    
}

.content_block2_1 {
    color: white;
}
.span_design{
    color: #22A75D;
    font-family: Century Gothic;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    text-decoration-line: underline;
}
.span_design1{
    color: #2278D4;
    font-family: Century Gothic;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    text-decoration-line: underline;
}

.content_block2 h1{
color: #FFF;
font-family: Century Gothic;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 54px; 
}
.content_block2_1 h1{
    color: #FFF;
    font-family: Century Gothic;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; 
    }

.content_block2 a{
    color: #22A75D;
    font-family: Century Gothic;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    text-decoration-line: underline;
}

.content_block2_1 a{
    color: #2278D4;
    font-family: Century Gothic;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    text-decoration-line: underline;
}

.icon-design, .icon-design1{
    padding: 36px 0 0px 49px;
}

.icon-design img{
    width: 38px;
    background-color: #22A75D;
    padding: 11px;
    padding: 0px 0px 0 -12px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px 0px #22A75D;
}

.icon-design1 img{
    width: 38px;
    background-color: #2278D4;
    padding: 11px;
    padding: 0px 0px 0 -12px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px 0px #2278D4;
}

.learnmore_design{
    display: inline-flex;
}
.learnmore_design1{
    display: inline-flex;
}

.learnmore_design img{
    margin: 28px 0px 0px 3px;
}

.learnmore_design1 img{
    margin: 10px 0px 0px 3px;
}

.content_block2_1 {
    padding: 11px 40px 0px;
    color: white;
}
.block3_part1, .block3_part2{
    width: 50%;
}
.block3_main{
    display: flex;
}
.block3_part1 img {
    width: 649px;
    /* height: 512px; */
    height: 497px;
}

.block3_part2{
    background-color: white;
    padding: 113px 6px 0px 21px;
    margin: 2px 1px 0 0px;
    border-top-left-radius: 212px;
}

.block3_part2content{
    background-color: white;
    padding: 26px 52px 0px 93px;
    border-top-left-radius: 212px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #0F1320;
    font-family: Century Gothic;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.block3_part2content h1{
    margin-bottom: 26px;
    font-size: 41px;
}
.p1_design{
    margin-bottom: 10px;
    font-weight: 600;
}
.p2_design{
    margin-bottom: 10px;
  
}
.icon_div{
    
        display: inline-flex;
        justify-content: center;
        /* align-items: center; */
    
}
.block4_main {
    padding: 70px 0px 0 120px;
    display: flex;
}

.block4_main .h1design{
    position: relative;
}

.h1design::before{
    content: "";
    position: absolute;
    top: -35px;
    bottom: 0px;
    width: 110px;
    height: 116px;
    left: -42px;
    right: 0;
background: url('../assets/images/Ellipse.png');
}
.ul_img_div{
    display: inline-flex;
    
}
.icon_content_div{
    padding-left: 31px;
}
.icon_content_div img{
    width: 10px;
    margin-top: 15px;
}

.icon_content_div h1{
    color: #FFF;
    text-align: center;
    font-family: Century Gothic;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;  
}
.bloch4_part1, .bloch4_part2, .bloch4_part3, .bloch4_part4{
    width: 20%;
}
.ul_text{
    color: #FFF;
    font-family: Century Gothic;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-left: 8px;
}
.ul_img{
    padding-top: 5px;
}